/app/Config/database.php
/app/Config/email.php
/app/tmp
/lib/Cake/Console/Templates/skel/tmp/
/plugins
/vendors
/build
/lib
/tests/features/support/config.rb
/dist
.DS_Store
/tags
.htaccess
app/.htaccess
app/webroot/.htaccess
